<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="First_Suite">
	<parameter name="testurl" value="http://ssu-oms:8180/" />

	<!-- 3 ERROR 5 WARNING 7 INFO -->
	<test verbose="5" name="First_Test">
		<classes>
			<class name="com.softserve.edu.AppTest" />
			<class name="com.softserve.edu.NewTest">
				<methods>
					<include name="test2" />
					<include name="test1" />
				</methods>
			</class>
		</classes>
	</test> <!-- Test -->

	<!-- 3 ERROR 5 WARNING 7 INFO -->
	<test verbose="5" name="Second_Test">
		<classes>
			<class name="com.softserve.edu.App2Test" />
			<class name="com.softserve.edu.NewTest">
				<methods>
					<include name="test1" />
				</methods>
			</class>
		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->
