
body{
    margin:0;
    color:#6a6f8c;
    background:#c8c8c8;
    font:600 16px/18px 'Open Sans',sans-serif;
}
table.MyTable {
    font-family: "Comic Sans MS", cursive, sans-serif;
    border: 6px solid #24943A;
    background-color: #D0EED5;
    width: 100%;
    height: 100%;
    text-align: center;
}
table.MyTable td, table.MyTable th {
    border: 5px solid #24943A;
    padding: 3px 3px;
}
table.MyTable tbody td {
    font-size: 15px;
    color: #000000;
}
table.MyTable thead {
    background: #24943A;
    background: -moz-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
    background: -webkit-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
    background: linear-gradient(to bottom, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
    border-bottom: 0px solid #444444;
}
table.MyTable thead th {
    font-size: 19px;
    font-weight: bold;
    color: #F0F0F0;
    text-align: center;
    border-left: 2px solid #24943A;
}
table.MyTable thead th:first-child {
    border-left: none;
}

table.MyTable tfoot {
    font-size: 13px;
    font-weight: bold;
    color: #F0F0F0;
    background: #24943A;
    background: -moz-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
    background: -webkit-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
    background: linear-gradient(to bottom, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
    border-top: 0px solid #24943A;
}
table.MyTable tfoot td {
    font-size: 13px;
}
table.MyTable tfoot .links {
    text-align: right;
}
table.MyTable tfoot .links a{
    display: inline-block;
    background: #FFFFFF;
    color: #24943A;
    padding: 2px 8px;
    border-radius: 5px;
}
div.templatemo-table{
    padding: 5% 5% 10% 5%;
}
h1{
    text-align: center;
}
